{% extends 'game_base.html' %}
{% block content %}
    <table class="table table-striped">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>积分</th>

        </tr>
        </thead>
        <tbody>
        {% for li in honorlist %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ li }}</td>
            <td>{{ li.money }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


    <table class="table table-striped">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>用户名</th>
            <th>积分</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>

        </tr>
        </tbody>
    </table>
