{% extends 'base.html' %}
{% block css %}
    {#七牛云支持#}
    <script src="//cdn.bootcss.com/plupload/2.1.7/plupload.full.min.js"></script>
    <script src="http://jssdk.demo.qiniu.io/js/qiniu.js"></script>

    {#富文本支持#}
    {% load staticfiles %}
    <script src="/static/js/epiceditor.js"></script>
{% endblock css %}

{% block content %}
    <div class="col-md-6 col-md-offset-3" >
        <div class="input-group">
            <span class="input-group-addon">标题</span>
            <input id="qtitle" type="text" class="form-control" maxlength="127" placeholder="问题">
        </div>
        <br/>


        <div class="input-group">
            <span class="input-group-addon">标签</span>
            <input id="qtype" type="text" class="form-control span" placeholder="输入标签">
        </div>

        <br/>

        <div id="epiceditor"></div>
        <br/>


        <div id="container">
            <a class="btn btn-default btn-lg " id="pickfiles" href="#" >
                <i class="glyphicon glyphicon-plus"></i>
                <sapn>选择文件</sapn>
            </a>
        </div>
        <button id="qsubmit" type="button" class="btn btn-default pull-right">提交</button>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/upimage.js"></script>
    <script>
        var editor = new EpicEditor().load();

        {#提交问题#}
        $("#qsubmit").click(function() {
            var qtitle =$("#qtitle").val();
            var qtype = $('#qtype').val();
            var theContent = editor.exportFile();

            $.ajax({
                type:'POST',
                url:'/askquestion/',
                data:{"title":qtitle,"text":theContent, "q_type":qtype},
                dataType:'json',
                success:function(){
                    window.location.href="/";
                },
                error:function(){
                    window.location.reload();
                }
            });
            // alert(theContent)
        });
    </script>
{% endblock %}
