<!DOCTYPE html>
<html>

<head lang="Zh-cn">
    <meta charset="UTF-8">
    <meta name="keywords" content={% if keywords %}{% else %}"python,问答网站,python社区"{% endif %}>

    <meta name="description" content={% if description %}{% else %}"python社区"{% endif %}>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Python社区{% endblock %}</title>
    {#    <link href="//cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap-responsive.css" rel="stylesheet">#}
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/search.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <style>
        {#        body{#}
        {#            background-image:url(/static/img/concrete_seamless.png);#}
        {#        }#}
    </style>
    {% block css %}

    {% endblock css %}
</head>

<body>
{% include 'nav.html' %}
{% block content %}
    <div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>
{% endblock %}

{% block js %}
{% endblock js %}


</body>
</html>