{% extends 'base.html' %}
{% block css %}

{% endblock %}

{% block title %}IFORJ{% endblock %}
{% block content %}
{% load iforjfilter %}

    <div class="col-md-6 col-md-offset-3">
        {% for question in questions.page_list %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title" style="color:#337ab7;">
                        <a href="{% url 'question' question.id %}" ><b>{{ question.title }}</b></a>

                        <a href="/search/?type=topic&q={{ question.q_type }}">
                            <span class="label label-default">{{ question.q_type }}</span>
                        </a>
                    </h1>

                </div>
                <div class="panel-body">
                    回复:{{ question.q_times }}
                    <div class="pull-right">

                    发表于:{{ question.q_datetime | isince }}</div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="col-md-6 col-md-offset-5" >
        <ul class="pagination">
            <li><a href="?page=1">&laquo;</a></li>
            {%  for i in questions.page_range %}
                <li {% ifequal i questions.number %}class="active"{% endifequal %}>
                    <a href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}
            <li><a href="?page={{ questions.num_pages }}">&raquo;</a></li>
        </ul>
    </div>



    <footer class="footer" >
        <div class="col-md-12">
        <hr style="border-top-width: 1px;border-top-style: solid;border-top-color: rgb(90, 44, 44);margin-top: 2em">
    </div>
        <div class="col-md-5 col-md-offset-1">
            <h4>Python社区</h4>
            <p class="lead"  style="color:#777;font-size: 1em">iforj是致力于python的网络问答社区,帮助你寻找答案,分享知识。百度知道是由用户可以根据自身的需
                求,有针对性地提出问题;同时,这些答案又将作为搜索结果你可以搜索类似的问题，问题被分为，爬虫，数据分析，django，scrapy，
                python语法等基础分类，你可以按着分类搜索相关的问题。我们以打造最活跃的python问答社区为目的，很高兴为您提供便捷的服务。
                如果有的意见和建议，欢迎联系我们。</p>
        </div>
        <div class="col-lg-5 col-lg-offset-1">
            <div class="row about">
                <div class="col-xs-3">
                    <h4>关于</h4>
                    <ul class="list-unstyled">
                        <li><a href="/about/">关于我们</a></li>

                        <li><a href="/about/">友情链接</a></li>
                        <li><a href="https://github.com/Twotiger/iforj" target="_blank">GITHUB</a></li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <h4>联系方式</h4>
                    <ul class="list-unstyled">
                        <li><a href="http://weibo.com/" title="官方微博" target="_blank">新浪微博</a></li>
                        <li><a href="#">电子邮件</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}


{% block js %}
    <script>
        $('#login').modal({ backdrop: false ,show:false}){# 有导航的都要加 #}
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
    </script>
{% endblock js %}
