<script>

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});

{#赞同+#}
$(".upnum").click(function(){
    var aid = $(this).val();
    $.ajax({
        type:'GET',
        url:'/agreeanswer/',
        data:{'aid':aid, 'tag':1},
        dataType:'json',
        success:function(){
            $('#a'+aid).html(function(i,oldText){
                return + oldText + 1;
            })
        },

        error:function(msg){
            alert(msg.responseText);
        }
    });
});
{#不赞同-#}
$(".downnum").click(function(){
    var aid = $(this).val();
    $.ajax({
        type:'GET',
        url:'/agreeanswer/',
        data:{'aid':aid, 'tag':0},
        dataType:'json',
        success:function(){
            $('#a'+aid).html(function(i,oldText){
                return + oldText - 1;
            })
        },
        error:function(msg){
            alert(msg.responseText);
        }
    });
});
/*
function go(){
    var t,tt;
    var _div=document.getElementById("image");
    var obj=_div.getElementsByTagName('h3')[0];
    obj.style.bottom="-50px";
    var change=function(){
        var obj_h=parseInt(obj.style.bottom);
        if(obj_h<0){obj.style.bottom=(obj_h+Math.floor((0-obj_h)*0.1))+"px"}//if
        else{clearInterval(t)}
    }
    var back=function(){
        var obj_hh=parseInt(obj.style.bottom);
        if(obj_hh>-50){obj.style.bottom=(obj_hh+Math.floor((-50-obj_hh)*0.1))+"px"}
        else{clearInterval(tt)}
    }
    _div.onmouseover=function(){clearInterval(tt);t=setInterval(change,10);}
    _div.onmouseout=function(){clearInterval(t);tt=setInterval(back,10)}
}

window.onload=function(){
    go();
}
*/

//修改图片

//关注和取消关注
$(".follow").click(function (){
    $.ajax({
        type: "GET",
        url: "/follow/{{ user.id }}",
        dataType: "json",
        success:function(data){
            if (data.status == "ok") {
                alert("关注成功");
                window.location.reload();
        }
        },
        error:function(msg){
            alert(msg.responseText);
        }
    });
});
$(".unfollow").click(function (){
    $.ajax({
        type: "GET",
        url: "/unfollow/{{ user.id }}",
        dataType: "json",
        success:function(data){
            if (data.status == "ok") {
                alert("已取消关注");
                window.location.reload();
        }
        },
        error:function(msg){
            alert(msg.responseText);
        }
    });
});


</script>