{% extends 'base.html' %}

{% block content %}

{% include 'profile-header.html' %}

<div class="profile-header">
    <div class="profile-header-main">
        <div class="top">
            <h4 style="float:left"><strong>{{ user.name }}</strong>
            &nbsp;&nbsp;{{ user.introduction }}</h4>

            {% ifequal name.0 user.name %}
            {% else %}
            <a class="btn-sm btn-success" href="#" style="float:right;text-decoration:none;">
                <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;关注
            </a>
            {% endifequal %}
        </div>
        <div class="body clearfix" id="image">
            {% ifequal name.0 user.name %}
                <img src="{{ user.image }}" style="width:100px;height:100px;" />
            <a href="#" data-toggle="modal" data-target="#upload" style="float:right;">
                修改头像<span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="margin-left:-72px;"></span></a>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="upload" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close"
                           data-dismiss="modal" aria-hidden="true">
                              &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">
                           修改头像
                        </h4>
                     </div>

                     <div class="modal-body" style="height:60px;">
                         <form action="http://127.0.0.1:8000/uploadImage" enctype="multipart/form-data" method="post">
                             <input type="file" id="user_file" name="user_image" style="float:left">
                             <input type="hidden" name="user_id" class="userid" value="{{ user.id }}">
                         <input type="submit" class="btn btn-primary" id="submit" value="提交" style="float:right">
                     </div>
                      <div style="margin-top:50px;float:left;" id="scale"></div>
                     <div class="modal-footer">
                     </div>
                      </form>
                  </div><!-- /.modal-content -->
            </div><!-- /.modal -->
            </div><!-- end -->
            {% else %}
            <img src="{{ user.image }}" style="width:100px;height:100px;" />
            {% endifequal %}

        </div>
        <div class="bottom">
            <p style="float:left;">获得赞同数&nbsp;
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                &nbsp;{{ user.agree_num }}
            </p>
            {% ifequal name.0 user.name %}
            <a href="#" class="edit-profile" style="float:right">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                编辑个人资料</a>
            {% endifequal %}
        </div>
    </div>
</div>
<div style="height:20px;"></div>
<div class="profile-section-wrap profile-answer-page">
    <div class="profile-section-nav">
        <nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-user"></span> </a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="?q=questions">问题&nbsp;{{ questions_count }}</a></li>
         <li class="active"><a href="?q=answers">回答&nbsp;{{ answers_count }}</a></li>
         <li><a href="?q=following">关注&nbsp;{{ following_count }}</a> </li>
          <li><a href="?q=fan">粉丝&nbsp;{{ followed_count }}</a> </li>
      </ul>
   </div>
</nav>
    </div>

    <div class="section-detail">
        <div class="profile-section-head" style="display:block;">
            <div class="profile-section-name"><p style="float:left;margin-left:15px;"><strong>{{ user.name }}</strong>&nbsp;的回答</p></div>
        </div>
        {% for answer in answers %}
            <div class="profile-section-list">
                <div class="question-name"><p><strong style="color:#259;"><a href="{% url 'question' answer.question.id %}">{{ answer.question.title }}</a></strong></p></div>
                <div class="question-answer">
                    <div class="question-answer-detail" style="float:left;">
                        <div class="btn-group-xs btn-group-vertical pull-left">
                            {#                点赞区#}
                            <button type="button" class="btn btn-default upnum" data-toggle="tooltip"
                                    title="赞同这个答案" value="{{ answer.id }}">
                                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true" ></span>
                                <div id="a{{ answer.id }}">{{ answer.agree_num }}</div>
                            </button>
                            <button type="button" class="btn btn-default downnum" data-toggle="tooltip"
                                    title="取消赞同"  value="{{ answer.id }}">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="question-answer-info" style="float:left;"><p style="color:black;margin-left:12px;">{{ answer.text }}</p></div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});

{#赞同+#}
$(".upnum").click(function(){
    var aid = $(this).val();
    $.ajax({
        type:'GET',
        url:'/agreeanswer/',
        data:{'aid':aid, 'tag':1},
        dataType:'json',
        success:function(){
            $('#a'+aid).html(function(i,oldText){
                return + oldText + 1;
            })
        },

        error:function(msg){
            alert(msg.responseText);
        }
    });
});
{#不赞同-#}
$(".downnum").click(function(){
    var aid = $(this).val();
    $.ajax({
        type:'GET',
        url:'/agreeanswer/',
        data:{'aid':aid, 'tag':0},
        dataType:'json',
        success:function(){
            $('#a'+aid).html(function(i,oldText){
                return + oldText - 1;
            })
        },
        error:function(msg){
            alert(msg.responseText);
        }
    });
});
/*
function go(){
    var t,tt;
    var _div=document.getElementById("image");
    var obj=_div.getElementsByTagName('h3')[0];
    obj.style.bottom="-50px";
    var change=function(){
        var obj_h=parseInt(obj.style.bottom);
        if(obj_h<0){obj.style.bottom=(obj_h+Math.floor((0-obj_h)*0.1))+"px"}//if
        else{clearInterval(t)}
    }
    var back=function(){
        var obj_hh=parseInt(obj.style.bottom);
        if(obj_hh>-50){obj.style.bottom=(obj_hh+Math.floor((-50-obj_hh)*0.1))+"px"}
        else{clearInterval(tt)}
    }
    _div.onmouseover=function(){clearInterval(tt);t=setInterval(change,10);}
    _div.onmouseout=function(){clearInterval(t);tt=setInterval(back,10)}
}

window.onload=function(){
    go();
}
*/

//修改图片
$('#upload').modal({ backdrop: false ,show:false}){# 有导航的都要加 #}

//关注和取消关注
function follow() {
    $.getJSON("/follow/{{ user.id }}", function(data){
        if (data.status == "ok") {
            $(".follow").css("display", "none");
            $(".unfollow").css("display", "block");
        }
    });
}

function unfollow() {
    $.getJSON("/unfollow/{{ user.id }}", function(data){
        if (data.status == "ok") {
            $(".unfollow").css("display", "none");
            $(".follow").css("display", "block");
        }
    });
}

</script>

{% endblock %}



