{% extends 'base.html' %}
{% block css %}

    {#七牛云支持#}
    <script src="//cdn.bootcss.com/plupload/2.1.7/plupload.full.min.js"></script>
    <script src="/static/js/qiniu.js"></script>

    {#富文本支持#}
    {% load staticfiles %}
    <script src="{%  static "js/epiceditor.js"%}"></script>


    {#    代码markdown编辑及过滤 #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.2.2/showdown.min.js"></script>
    <script src="http://jsxss.com/assets/xss.js"></script>
    <script src="{% static 'js/showdown-xss-filter.js' %}"></script>

    {#    高亮#}
    <script src="/static/highlight.pack.js"></script>
    <link rel="stylesheet" href="/static/styles/vs.css">

    <style type="text/css">
        body {font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,"Microsoft Yahei",sans-serif;
        }
        .qtophead{padding:1em}
        .navbar{margin-bottom:0px}
        .qtitle{font-size:2em;font-weight: 700;}
        .apanel{margin:0 3em}
        .qpanel{margin:0 3em}
        .apanel-edit{margin:0 3em}
        .afooter{margin:0 3em}
        .cpanel{margin:0 3em}
        .addcomment{padding:1em 1em}

        hr{margin:0 3em}
        #qhr{border-bottom: 0.25em solid #ccc;padding:1em 0em;font-weight: 700}
    </style>
{% endblock css %}

{% block title %}{{ questions.title }} - iforj{% endblock %}

{% block content %}

    <div class="col-md-12" style="background-color: #eee;">
        <div class="col-md-6 col-md-offset-3 qtophead">
            <div class="qtitle">
                {{ questions.title }}
            </div>
            <div class="">
                {#            <img src="{{ questions.user.image }}"#}
                {#               class="img-circle" style="height: 30px;">#}

                <a href="{% url 'programmer' questions.user_id%}">{{ questions.user }}</a>

                <div class="pull-right">{{ questions.q_datetime|date:"Y-m-d H:i:s"}}</div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3 questions" id="{{ questions.id }}">
        <div class="qpanel">
            <div class=" qmarkdown">
                <script>
                    var converter = new showdown.Converter({ extensions: ['xssfilter'] });
                    html = converter.makeHtml('{{  questions.text|escapejs  }}');
                    document.write(html)
                </script>
            </div>
            <div id="qhr">
                {{ questions.q_times }}个回答
            </div>

        </div>


    </div>



    {{ agreed }}
    {#  循环打印所有答案#}

    <div class="col-md-6 col-md-offset-3">
    {% for answer in answers %}
        <br/>
        <div class="myanswer">
        <div class="btn-group-xs btn-group-vertical pull-left">

            {#                点赞区#}
            <button type="button" class="btn btn-default upnum" data-toggle="tooltip"
                    title="赞同这个答案" value="{{ answer.id }}">
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true" ></span>
                <div id="a{{ answer.id }}"><a href='#a'></a>{{ answer.agree_num }}</div>
            </button>
            <button type="button" class="btn btn-default downnum" data-toggle="tooltip"
                    title="取消赞同"  value="{{ answer.id }}">
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
        </div>


        {#如果是我写的答案,添加个可编辑属性 #}

        <div class="apanel a{{ answer.id }}">
            {#渲染答案#}
            <script>
                var converter = new showdown.Converter({ extensions: ['xssfilter'] });
                html = converter.makeHtml('{{ answer.text|escapejs  }}');
                document.write(html)
            </script>
        </div>

        {#如果有编辑选项#}
        <div class="apanel-edit" style="display:none">
            {% ifequal answered answer.user.id %}
                <div id="epiceditor"></div>
                <script>
                    var equalhtml ="{{ answer.text|linebreaksbr }}"
                </script>
                <button class="btn pull-right r_commit">完成</button>
            {% endifequal %}


        </div>
        {#                  <img src="{{ answer.user.image }}" class="img-circle" alt="" style="height: 30px;" />#}
        {#        <br/>#}

        <div class="afooter">
            <a href="{% url 'programmer' answer.user_id %}">{{ answer.user }}</a>
            <span class="invisible">
                {{ answer.a_time|date:"Y-m-d H:i:s" }}
                {#回答过显示编辑+评论#}
                {% ifequal answered answer.user.id %}
                    <a class='pull-right redit' name="{{ answer.id }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        编辑</a>
                    <a  name="{{ answer.id }}" class='pull-right opencomment' style="padding-right: 10px">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        {{ answer.comment_set.all|length}}个评论</a>
                {% else %}
                    <a name="{{ answer.id }}" class='pull-right opencomment'>
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        {{ answer.comment_set.all|length}}个评论</a>

                {% endifequal %}
            </span>
        </div>
        <br/>
        {# 评论面板#}
        <div class="panel panel-default cpanel" style="display: none" id="cp{{ answer.id }}">
            {% for comment in answer.comment_set.all %}
                <div class="panel-body">
                    <a href="/programmer/{{ comment.user.id }}">{{ comment.user}}</a>:
                    {{ comment.text }}
                </div>

                <hr/>

            {% endfor %}
            <div style="padding: 1em">
                <input type="text" class="form-control addcomment" id="c{{ answer.id }}"
                       placeholder="">
                <button type="button" style="display: none;padding: 0.5em 1em;" class="btn cbutton" id="cb{{ answer.id }}" >评论</button>
            </div>
        </div>


        <br/>
        <hr style="margin-bottom: 2em;"/>
    {% endfor %}
<br/>


{% if answered %}
    <div class="col-md-6" >
        该问题你已经回答过
    </div>
{% else %}
    {% if name %}
        {% ifequal name.0 questions.user.name %}

        {% else %}
            <div class="apanel">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">&times;
                    </button>
                    回复的时候注意排版
                </div>
                <!--     编辑器 -->
                <div id="epiceditor"></div>
                <div id="container">
                    <a class="btn btn-default btn-lg" id="pickfiles" href="#" >
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>上传图片</span>
                    </a>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block commit">提交</button>
            </div>

        {% endifequal %}

    {% else %}

        <div class="panel panel-default apanel">
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                    data-target="#login">帮助他...</button>
        </div>

    {% endif %}
    </div>
{% endif %}


{% endblock %}


{% block js %}
    <script src="/static/js/upimage.js"></script>
    <script>
        {#    评论支持#}
        $(".opencomment").click(function () {
            var id = $(this).attr('name');
            $('#cp'+id).css('display','block');
            {#            $(this).parent('.afooter').css('display','block');#}
        });
        {#焦点#}
        $(".addcomment").focus(function(){
            $(this).next().css('display','block');
        });

        {#提交评论#}
        $(".cbutton").click(function(){
            var me = $(this);
            var aid=$(this).attr('id');
            var text = $('#c'+aid.substr(2, 10)).val();
            $.ajax({
                type:'POST',
                url:'/commit/post/addcomment',
                data:{'aid':aid.substr(2,10), 'text':text},
                dataType:'json',
                success:function(){
                    me.parent().before('<div class="panel-body"> <a href="/programmer/{{ name.1 }}">'+'{{ name.0 }}'+':</a>'+text+'</div>')
                },
                error:function(msg){
                    alert(msg.responseText)
                }

            });
        });

        $(".addcomment").blur(function(){
            {#            setInterval("",5000);#}
            setTimeout(function(){$('.cbutton').css('display','none')},1000);
        });
        {#    update答案#}
        $('.r_commit').click(function(){
            var aid =$('.redit').attr('name');
            var theContent = editor.exportFile();
            {#            alert(theContent);#}
            $.ajax({
                type:'POST',
                url:'/commit/post/updateanswer',
                data:{'get_id':aid, 'text':theContent},
                dataType:'json',
                success:function(){
                    {#                    $('#a'+aid).html(function(i,oldText){#}
                    {#                        return + oldText + 1;#}
                    window.location.reload();
                }

            });

        });
        {#        语法高亮#}
        hljs.initHighlightingOnLoad();

        {#    编辑器支持#}
        if(document.getElementById('epiceditor')){
            var editor = new EpicEditor().load();

        }


        $(document).ready(function(){
            {#            鼠标不在焦点时隐藏span#}
            $(".afooter").mouseenter(function(){
                $(this).children('span').attr('class','');

            });

            $(".afooter").mouseleave(function(){
                $(this).children('span').attr('class','invisible');
            });
        });

        {#再次编辑完成#}
        $('.redit').click(function(){
            {#            $(this).parents('.myanswer').children('.apanel').html('<div id="epiceditor"></div><button>提交</button>');#}
            var edit_aid = $('.redit').attr('name');

            $('.a'+edit_aid).css('display','none');

            $('.apanel-edit').css('display','block');
            var editor = new EpicEditor().load();
//            equalhtml =equalhtml.replace(/\n/g,"</br>");
//            equalhtml = '```&lt;table border="1">    <tr>      <th>Month</th>      <th>Savings</th>    </tr>    <tr>      <td>January</td>      <td>$100</td>    </tr>  </table>```'
            editor.getElement('editor').body.innerHTML=equalhtml

        });

        // 图片自适应可能存在兼容问题
        {#        $("img").addClass("carousel-inner img-responsive img-rounded");#}
        $("img").addClass("img-responsive");

        {# 提交问答#}
        $(".commit").click(function() {
            var theContent = editor.exportFile();
            var qid =$(".questions").attr('id');
            $.ajax({
                type:'POST',
                url:'/commit/post/addanswer',
                data:{"qid":qid,"text":theContent},
                success: function(){window.location.reload();}
            });
            {#       alert(sHTML)#}
        });
        //打开评论
        $(".opencomment").click(function () {
            var comments = "<div>asdfasdf<div>asdfasdf</div><div>asdfasdf</div></div>";
            var cid = $(this).parent().next().attr('cid');
            var p = ($(this).parents('.apanel'));
            p.append('<div> <div class="panel-body">这是一个基本的面板 </div> </div>');
            $.ajax({
                type:'POST',
                url:'/commit/post/getcomment',
                data:{"cid":cid},
                success:function(){
                    {#                使用js渲染模板,未完成#}
                    $(this).parent().next().html('asdf');
                },
                error:function(XMLResponse){alert(XMLResponse.responseText)}

            });
        });
        {#赞同+#}
        $(".upnum").click(function(){
            var aid = $(this).val();
            $.ajax({
                type:'GET',
                url:'/agreeanswer/',
                data:{'aid':aid, 'tag':1},
                dataType:'json',
                success:function(){
                    $('#a'+aid).html(function(i,oldText){
                        return + oldText + 1;
                    })
                },

                error:function(msg){
                    alert(msg.responseText);
                }
            });
        });
        {#赞同-#}
        $(".downnum").click(function(){
            var aid = $(this).val();
            $.ajax({
                type:'GET',
                url:'/agreeanswer/',
                data:{'aid':aid, 'tag':0},
                dataType:'json',
                success:function(){
                    $('#a'+aid).html(function(i,oldText){
                        return + oldText - 1;
                    })
                },
                error:function(msg){
                    alert(msg.responseText);
                }
            });
        });


    </script>
{% endblock %}
