{% extends 'base.html' %}

{% block css %}

    {#七牛云支持#}
    <script src="//cdn.bootcss.com/plupload/2.1.7/plupload.full.min.js"></script>
    <script src="http://jssdk.demo.qiniu.io/js/qiniu.js"></script>

    {#富文本支持#}
    {% load staticfiles %}
    <script src="{%  static "js/epiceditor.js"%}"></script>
{#    <script src="/static/js/epiceditor.js"></script>#}


    {#    代码markdown编辑及过滤#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.2.2/showdown.min.js"></script>
    <script src="http://jsxss.com/assets/xss.js"></script>
    <script src="{% static 'js/showdown-xss-filter.js' %}"></script>



    {#    高亮#}
    {#    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css">#}

    {#<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>#}

    <script src="/static/highlight.pack.js"></script>
    <link rel="stylesheet" href="/static/styles/github.css">

    <style type="text/css">
        body {font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,"Microsoft Yahei",sans-serif;
        }
        .qtophead{padding:1em}
        .navbar{margin-bottom:0px}
        .qtitle{font-size:2em;font-weight: 700;}
        .apanel{margin:0 3em}
        .qpanel{margin:0 3em}
        .apanel-edit{margin:0 3em}
        .afooter{margin:0 3em}
        .cpanel{margin:0 3em}
        .addcomment{padding:1em 1em}
        
        hr{margin:0 3em}
        #qhr{border-bottom: 0.25em solid #ccc;padding:1em 0em;font-weight: 700}
    </style>
{% endblock css %}

{% block title %}{{ questions.title }} - iforj{% endblock %}

{% block content %}

<div class="col-md-12" style="background-color: #f8f8f8;">
    <div class="col-md-6 col-md-offset-3 qtophead">
        <div class="qtitle">
        {{ questions.title }}
        </div>
    <div class="">
                   {#            <img src="{{ questions.user.image }}"#}
                   {#               class="img-circle" style="height: 30px;">#}
                   <a href="{% url 'programmer' questions.user_id%}">{{ questions.user }}</a>
                   
                   <div class="pull-right">{{ questions.q_datetime|date:"Y-m-d H:i:s"}}</div>
               </div>
    
        
    </div>
</div>



    <div class="col-md-6 col-md-offset-3 questions" id="{{ questions.id }}">
        <div class="qpanel">
            <div class=" qmarkdown">
                {{ questions.text |safe}}
            </div>
<div id="qhr">
{{ questions.q_times }}个回答
</div>

        </div>


    </div>



    {{ agreed }}
    {#  循环打印所有答案#}

    <div class="col-md-6 col-md-offset-3">
    {% for answer in answers %}
        <br/>
        <div class="myanswer">
        <div class="btn-group-xs btn-group-vertical pull-left">

            {#                点赞区#}
            <button type="button" class="btn btn-default upnum" data-toggle="tooltip"
                    title="赞同这个答案" value="{{ answer.id }}">
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true" ></span>
                <div id="a{{ answer.id }}">{{ answer.agree_num }}</div>
            </button>
            <button type="button" class="btn btn-default downnum" data-toggle="tooltip"
                    title="取消赞同"  value="{{ answer.id }}">
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
        </div>


        {#如果是我写的评论,添加个可编辑属性#}

        <div class="apanel a{{ answer.id }}">
            {#渲染答案#}
            <script>
                var converter = new showdown.Converter({ extensions: ['xssfilter'] });
                        html = converter.makeHtml('{{ answer.text|escapejs  }}');
                document.write(html)
            </script>
        </div>

        {#如果有编辑选项#}
        <div class="apanel-edit" style="display:none">
            {% ifequal answered answer.user.id %}
                <div id="epiceditor"></div>
                <script>
                    var equalhtml ="{{ answer.text|linebreaksbr }}"
                </script>
                <button class="btn pull-right r_commit">完成</button>
            {% endifequal %}


        </div>
        {#                  <img src="{{ answer.user.image }}" class="img-circle" alt="" style="height: 30px;" />#}
        {#        <br/>#}

        <div class="afooter">
            <a href="{% url 'programmer' answer.user_id %}">{{ answer.user }}</a>
            <span class="invisible">
                {{ answer.a_time|date:"Y-m-d H:i:s" }}
                {#回答过显示编辑+评论#}
                {% ifequal answered answer.user.id %}
                    <a class='pull-right redit' name="{{ answer.id }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        编辑</a>
                    <a  name="{{ answer.id }}" class='pull-right opencomment' style="padding-right: 10px">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        {{ answer.comment_set.all|length}}个评论</a>
                {% else %}
                    <a name="{{ answer.id }}" class='pull-right opencomment'>
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        {{ answer.comment_set.all|length}}个评论</a>

                {% endifequal %}
            </span>
        </div>
        <br/>
{# 评论面板#}
        <div class="panel panel-default cpanel" style="display: none" id="cp{{ answer.id }}">
            {% for comment in answer.comment_set.all %}
                <div class="panel-body">
                    <a href="/programmer/{{ comment.user.id }}">{{ comment.user}}</a>:
                    {{ comment.text }}
                </div>

                <hr/>

            {% endfor %}
            <div style="padding: 1em">
                <input type="text" class="form-control addcomment" id="c{{ answer.id }}"
                       placeholder="">
                <button type="button" style="display: none;padding: 0.5em 1em;" class="btn cbutton" id="cb{{ answer.id }}" >评论</button>
            </div>
        </div>


        <br/>
        <hr style="margin-bottom: 2em;"/>
    {% endfor %}
<br/>


{% if answered %}
    <div class="col-md-6" >
        该问题你已经回答过
    </div>
{% else %}
    {% if name %}
        {% ifequal name.0 questions.user.name %}

        {% else %}
            <div class="apanel">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">&times;
                    </button>
                    回复的时候注意排版
                </div>
                <!--     编辑器 -->
                <div id="epiceditor"></div>
                <div id="container">
                    <a class="btn btn-default btn-lg" id="pickfiles" href="#" >
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>上传图片</span>
                    </a>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block commit">提交</button>
            </div>

        {% endifequal %}

    {% else %}

            <div class="panel panel-default apanel">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                        data-target="#login">加入我们</button>
            </div>

    {% endif %}
    </div>
{% endif %}


{% endblock %}


{% block js %}
    <script>
        {#    评论支持#}

        $(".opencomment").click(function () {
            var id = $(this).attr('name');
            $('#cp'+id).css('display','block');
{#            $(this).parent('.afooter').css('display','block');#}
        });
        {#焦点#}
        $(".addcomment").focus(function(){
            $(this).next().css('display','block');
        });


        {#提交评论#}
        $(".cbutton").click(function(){
            var me = $(this);
            var aid=$(this).attr('id');
            var text = $('#c'+aid.substr(2, 10)).val();
            $.ajax({
                type:'POST',
                url:'/commit/post/addcomment',
                data:{'aid':aid.substr(2,10), 'text':text},
                dataType:'json',
                success:function(){
                    me.parent().before('<div class="panel-body"> <a href="/programmer/{{ name.1 }}">'+'{{ name.0 }}'+':</a>'+text+'</div>')
                },
                error:function(msg){
                    alert(msg.responseText)
                }

            });
        });

        $(".addcomment").blur(function(){
{#            setInterval("",5000);#}
            setTimeout(function(){$('.cbutton').css('display','none')},1000);
        });
        {#    update答案#}
        $('.r_commit').click(function(){
            var aid =$('.redit').attr('name');
            var theContent = editor.exportFile();
            {#            alert(theContent);#}
            $.ajax({
                type:'POST',
                url:'/commit/post/updateanswer',
                data:{'get_id':aid, 'text':theContent},
                dataType:'json',
                success:function(){
                    {#                    $('#a'+aid).html(function(i,oldText){#}
                    {#                        return + oldText + 1;#}
                    window.location.reload();
                }

            });

        });

        var converter = new showdown.Converter();
        text = $('.qmarkdown').html();
        html = converter.makeHtml('{{ questions.text| escapejs  }}');
        $('.qmarkdown').html(html);

        {#        语法高亮#}
        hljs.initHighlightingOnLoad();

        {#    编辑器支持#}
        if(document.getElementById('epiceditor')){
            var editor = new EpicEditor().load();

        };



        $(document).ready(function(){
            {#            鼠标不在焦点时隐藏span#}
            $(".afooter").mouseenter(function(){
                $(this).children('span').attr('class','');

            });

            $(".afooter").mouseleave(function(){
                $(this).children('span').attr('class','invisible');
            });
        });

        {#再次编辑完成#}
        $('.redit').click(function(){
            {#            $(this).parents('.myanswer').children('.apanel').html('<div id="epiceditor"></div><button>提交</button>');#}
            var edit_aid = $('.redit').attr('name');

            $('.a'+edit_aid).css('display','none');

            $('.apanel-edit').css('display','block');
            var editor = new EpicEditor().load();
//            equalhtml =equalhtml.replace(/\n/g,"</br>");
//            equalhtml = '```&lt;table border="1">    <tr>      <th>Month</th>      <th>Savings</th>    </tr>    <tr>      <td>January</td>      <td>$100</td>    </tr>  </table>```'
            editor.getElement('editor').body.innerHTML=equalhtml

        });


        function saveanswer(id){
            alert('真的未完成');

        };



        // 图片自适应可能存在兼容问题
        {#        $("img").addClass("carousel-inner img-responsive img-rounded");#}
                $("img").addClass("img-responsive");

        {# 提交问答#}
        $(".commit").click(function() {
            var theContent = editor.exportFile();
            var qid =$(".questions").attr('id');
            $.ajax({
                type:'POST',
                url:'/commit/post/addanswer',
                data:{"qid":qid,"text":theContent},
                success: function(){window.location.reload();}
            });
            {#       alert(sHTML)#}
        });
        //打开评论
        $(".opencomment").click(function () {
            var comments = "<div>asdfasdf<div>asdfasdf</div><div>asdfasdf</div></div>";
            var cid = $(this).parent().next().attr('cid');
            var p = ($(this).parents('.apanel'));
            p.append('<div> <div class="panel-body">这是一个基本的面板 </div> </div>');
            $.ajax({
                type:'POST',
                url:'/commit/post/getcomment',
                data:{"cid":cid},
                success:function(){
                    {#                使用js渲染模板,未完成#}
                    $(this).parent().next().html('asdf');
                },
                error:function(XMLResponse){alert(XMLResponse.responseText)}

            });
        });
        {#赞同+#}
        $(".upnum").click(function(){
            var aid = $(this).val();
            $.ajax({
                type:'GET',
                url:'/agreeanswer/',
                data:{'aid':aid, 'tag':1},
                dataType:'json',
                success:function(){
                    $('#a'+aid).html(function(i,oldText){
                        return + oldText + 1;
                    })
                },

                error:function(msg){
                    alert(msg.responseText);
                }
            });
        });
        {#赞同-#}
        $(".downnum").click(function(){
            var aid = $(this).val();
            $.ajax({
                type:'GET',
                url:'/agreeanswer/',
                data:{'aid':aid, 'tag':0},
                dataType:'json',
                success:function(){
                    $('#a'+aid).html(function(i,oldText){
                        return + oldText - 1;
                    })
                },
                error:function(msg){
                    alert(msg.responseText);
                }
            });
        });
        {#七牛云支持#}
        var uploader = Qiniu.uploader({
            runtimes: 'html5,flash,html4',    //上传模式,依次退化
            browse_button: 'pickfiles',       //上传选择的点选按钮，**必需**
            //  uptoken_url: 'upload.qiniu.com',
            //Ajax请求upToken的Url，**强烈建议设置**（服务端提供）
            uptoken : '{{uptoken}}',
            //若未指定uptoken_url,则必须指定 uptoken ,uptoken由其他程序生成
            unique_names: true,
            // 默认 false，key为文件名。若开启该选项，SDK会为每个文件自动生成key（文件名）
            // save_key: true,
            // 默认 false。若在服务端生成uptoken的上传策略中指定了 `sava_key`，则开启，SDK在前端将不对key进行任何处理
            domain: 'http://7xkozr.com1.z0.glb.clouddn.com/',
            //bucket 域名，下载资源时用到，**必需**
            container: 'container',           //上传区域DOM ID，默认是browser_button的父元素，
            max_file_size: '4mb',           //最大文件体积限制
            flash_swf_url: 'js/plupload/Moxie.swf',  //引入flash,相对路径
            max_retries: 3,                   //上传失败最大重试次数
            dragdrop: true,                   //开启可拖曳上传
            drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
            chunk_size: '4mb',                //分块上传时，每片的体积
            auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
            init: {
                'FilesAdded': function(up, files) {
                    plupload.each(files, function(file) {
                        // 文件添加进队列后,处理相关的事情
                    });
                },
                'BeforeUpload': function(up, file) {
                    // 每个文件上传前,处理相关的事情
                    console.log('ok')
                },
                'UploadProgress': function(up, file) {
                    // 每个文件上传时,处理相关的事情
                },
                'FileUploaded': function(up, file, info) {
                    var domain = up.getOption('domain');
                    var res = $.parseJSON(info);
                    var sourceLink = domain + res.key; //获取上传成功后的文件的Url
                    editor.getElement('editor').body.innerHTML=editor.getElement('editor').body.innerHTML+'![Alt text]('+sourceLink+')'
                },
                'Error': function(up, err, errTip) {
                    //上传出错时,处理相关的事情
                    alert('上传图片出现错误,检查系统时间,再次重新上传');
                },
                'UploadComplete': function() {
                    //队列文件处理完毕后,处理相关的事情
                    {#                    alert('ok');#}
                },
                'Key': function(up, file) {
                    // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
                    // 该配置必须要在 unique_names: false , save_key: false 时才生效
                    var key = "";
                    // do something with key here
                    return key
                }
            }
        });


        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
    </script>
{% endblock %}