{% extends 'base.html' %}
{% block content %}

    <div class="col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs">
            <li {% if flag == 'question' %}class="active"{% endif %} id='question'><a href="/search?type=question&q={{ q }}">问题</a></li>
            <li id='people' {% if flag == 'people' %}class="active"{% endif %}><a href="/search?type=people&q={{ q }}">用户</a></li>
            <li id='topic' {% if flag == 'topic' %}class="active"{% endif %}><a href="/search?type=topic&q={{ q }}">话题</a></li>

        </ul>
    </div>
    <br/>




    <div id="users" class="col-md-6 col-md-offset-3" style="disabled:none;">
        <ul class="list users">
            {% for user in users %}
                <li class="user item">
                    <div class="panel">
                        <div class="top">
                            <div class="panel-heading">
                                <a href="#" class="left avatar-link">
                                    <img src="{{ user.image }}" alt="{{ user }}" class="avatar" style="float:left;width:60px;heigth:60px;">
                                </a>
                                <div class="info">
                                    <a href="/programmer/{{ user.id }}"><strong>{{ user.name }}</strong></a>
                                    <p>{{ user.introduction }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
{#                            <a href="#" class="btn-sm btn-primary" style="text-decoration: none;">#}
{#                                关注</a>#}
                            <div class="panel-foot">
                                <strong>{{ user.question_set.count }}</strong>&nbsp;问题&nbsp;&nbsp;
                                <strong>{{ user.answer_set.count }}</strong>&nbsp;回答&nbsp;&nbsp;
                                <strong>{{ user.agree_num }}</strong>&nbsp;赞同数
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-6 col-md-offset-3" id="topics" style="disabled:none;">
        {% for topic in topics %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="color:#337ab7">

                        <a href="#">{{ topic.name }}</a>
                    </h3>
                </div>
                <div class="panel-body">
{#                    <a href="#" class="btn-sm btn-primary" style="text-decoration: none;">关注</a>#}
                    共{{ questions_num }}问题
                </div>
            </div>
        {% endfor %}
    </div>
    
    
    <div class="col-md-6 col-md-offset-3" >
        {% for question in questions.page_list %}
    
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title" style="color:#337ab7;">
                        <a href="{% url 'question' question.id %}" ><b>{{ question.title }}</b></a>
    
                        <a href="/search/?type=topic&q={{ question.q_type }}">
                            <span class="label label-default">{{ question.q_type }}</span>
                        </a>
                    </h1>
    
                </div>
                <div class="panel-body">
                    回复:{{ question.q_times }}
                </div>
            </div>
        {% endfor %}
    </div>
 
    {% if questions.num_pages > 1 %}
        <div class="col-md-6 col-md-offset-5" >
            <ul class="pagination">
    
                <li><a href="?page=1">&laquo;</a></li>
    
                {%  for i in questions.page_range %}
                    <li {% ifequal i questions.number %}class="active"{% endifequal %}>
                        <a href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
                <li><a href="?page={{ questions.num_pages }}">&raquo;</a></li>
            </ul>
    </div>
    {% endif %}
{% endblock %}



